.messages{
	height: 300px;
	width: 450px;
	float: left;
	margin-right: 20px;
	display: none;
}

.users{
	height: 300px;
	width: 150px;
}

.panel{
	background-color: #F1F1F1;
	overflow: auto;
}

#container{
	height: 300px;
}

.messages.active{
	display: block;
}

button.selected{
	background-color: red;
}
#users{
	height: 150px;
	width: 150px;
	background-color: #F1F1F1;
	overflow: auto;
}
.message-system{
	color: red;
}

.flash {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  background-color: #FFB371;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}