.messages{
	height: 150px;
	width: 450px;
	background-color: #F1F1F1;
	overflow: auto;
	float: left;
	margin-right: 20px;
	display: none;
}

.messages.active{
	display: block;
}

button.selected{
	background-color: red;
}
#users{
	height: 150px;
	width: 150px;
	background-color: #F1F1F1;
	overflow: auto;
}
.message-system{
	color: red;
	background-color: #FFB371;
}

.flash {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}