<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Chat Support</title>
<style type="text/css">
	#messages{
		height: 150px;
		background-color: #F1F1F1;
		overflow: auto;
	}
	.message-system{
		color: red;
	}
</style>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script type="text/javascript">
		$.ajaxSetup({ cache: false });
	
		$(document).ready(function(){
			$("#messageTo").keyup(function(event){
			    if(event.keyCode == 13){
			        sendMessage();
			    }
			});
		});
		
		function append(message){
			$('#messages').append('<br />'+message);
			
			var objDiv = document.getElementById("messages");
			objDiv.scrollTop = objDiv.scrollHeight;
		}
		
		/*<![CDATA[**/
		function appendSystem(message){
			var sysMessage = "<span class=\'message-system\'>"+message+"</span>";
			append(sysMessage);
		}
		/*]]>*/
		function subscribe(){
			$.ajax({
				method : "POST",
				url : "subscribe",
				data: {userName:$('#userName').val()
				}
			}).done(function(result) {
				appendSystem("Susbribed - "+result);
				readMessages();
			});
		}
		function readMessages() {
			$.ajax({
				url : "read-messages",
				data: {
					userName:$('#userName').val()
				},
				statusCode: {
				    403: function() {
				    	appendSystem("Disconnected due to inactivity");
				    }
				}
			}).done(function(result) {
				if(result){
					append('<i>'+result.fromUser+'</i>: '+result.message);
				}
				readMessages();
			});
		};
		
		function sendMessage(){
			$.ajax({
				method : "POST",
				url : "post-message",
				data: {
					toUser:$('#sendToUser').val(),
					message:$('#messageTo').val()
				},
				statusCode: {
				    403: function() {
				    	appendSystem("Disconnected due to inactivity");
				    }
				}
			}).done(function(){
				var fromUser = $('#userName').val();
				var messageTo = $("#messageTo").val();
				
				append('<i>'+fromUser+'</i>: '+messageTo);
				$("#messageTo").val('');
			});
		};
		
		function broadcast(){
			$.ajax({
				method : "POST",
				url : "broadcast-message",
				data: {
					message:$('#messageTo').val()
				},
				statusCode: {
				    403: function() {
				    	appendSystem("Disconnected due to inactivity");
				    }
				}
			});
			
		};
	</script>
</head>
<body>
	<p th:text="#{messages.welcome}">Welcome to chat support</p>
	<section>
		User Name:
		<input id="userName" />
		<button onclick="subscribe();">Subscribe to service</button><br />
	</section>
	<hr />
	<div id="container">
		Messages:
		<div id="messages"></div>
	</div>
	<hr />
	<section>
		To user:
		<input id="sendToUser" name="userId" type="text" /> <br />
		Message:
		<input id="messageTo" name="message" type="text" /> <br />
		<button onclick="sendMessage();">Send Message</button> <br />
		<button onclick="broadcast()">Broadcast</button>
	</section>
</body>
</html>