<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here @</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script type="text/javascript">
		$.ajaxSetup({ cache: false });
	
		function subscribe(){
			$.ajax({
				method : "POST",
				url : "subscribe",
				data: {userName:$('#userName').val()
				}
			}).done(function(result) {
				$('#messages').append("<br/>Susbribed - "+result);
			});
		}
		function readMessages() {
			$.ajax({
				url : "read-messages",
				data: {
					userName:$('#userName').val()
				},
				statusCode: {
				    403: function() {
						$('#messages').append("<br />Disconnected due to inactivity");
				    }
				}
			}).done(function(result) {
				if(result)
					$('#messages').append('<br />'+result);
				readMessages();
			});
		};
		
		function sendMessage(){
			$.ajax({
				method : "POST",
				url : "post-message",
				data: {
					userName:$('#sendToUser').val(),
					message:$('#messageTo').val()
				},
				statusCode: {
				    403: function() {
						$('#messages').append("<br />Disconnected due to inactivity");
				    }
				}
			});
			
		};
	</script>
</head>
<body>
	<p>You have subscribed to the message queue!</p>
	<section>
		User Name
		<input id="userName" />
		<button onclick="subscribe();">Subscribe to service</button><br />
		<button onclick="readMessages();">Read Messages</button>
	</section>
	
	<section>
		To user:
		<input id="sendToUser" name="userId" type="text" /> <br />
		Message:
		<input id="messageTo" name="message" type="text" /> <br />
		<button onclick="sendMessage();">Send Message</button>
	</section>
	Or broadcast:
	<section>
		Broadcast Message:
		<input name="message" type ="text" /><br />
		<input type="submit" />
	</section>
	
	<div id="container">
		Messages:
		<div id="messages"></div>
	</div>
</body>
</html>