<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here @</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script type="text/javascript">
	</script>
</head>
<body>
	<p>Welcome to message posting interface</p>
	<section>
		<form action="post-message" method="post">
			To user:
			<input name="userId" > </input> <br />
			Message:
			<input name="message"> </input><br />
			<input type="submit"> </input>
		</form>
	</section>
	Or broadcast:
	<section>
		<form action="broadcast-message" method="post">
			Broadcast Message:
			<input name="message"> </input><br />
			<input type="submit"> </input>
		</form>
	</section>
</body>
</html>