<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Insert title here @</title>
	</head>
	<body>
		<p th:text="${messageBean.message}">Welcome to our grocery store!</p>
		<section>
			<div id="container" th:text="#{test.hello}">
				Content
				
			</div>
    	</section>
	</body>
</html>